.git
.github
.idea
.vscode
apps/admin
apps/mobile
docs
**/.env
**/.env.*
**/node_modules
**/vendor
**/.gradle
**/.gradle-user-home
**/.kotlin
**/build
**/dist
**/coverage
**/storage/logs/*.log
*.jks
*.keystore
local.properties
